*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;

}



.form-container{
    width: 100%;
    max-width: 650px;
    margin:0 auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: blue;
}
.input-row{
    margin-bottom: 10px;
}
.input-row label{
    display: block;
    margin-bottom: 3px;
}
.input-row input, textarea{
    width: 100%;
    padding: 10%;
    border-radius: 3px;
    border: 0;
    outline: 0;
    margin-top: 3px;
    font-size: 18px;
}

.input-row textarea{
    height: 100px;
}
.input-row input[type="submit"]{
    width: min-content;
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #002f3a;
}

.success{
    background-color: aquamarine;
    color: black;
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
    font-synthesis: 14px;
    margin-top: 10px;
    
}